<!DOCTYPE html>
<html data-vue-meta-server-rendered {{{ meta.inject().htmlAttrs.text() }}}>

<head>
    <!-- index for default theme -->
    {{{ meta.inject().title.text() }}} {{{ meta.inject().meta.text() }}}
    <meta name="generator" content="Vue Storefront">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0" /> {{{ meta.inject().link.text() }}} {{{ renderStyles() }}} {{{ output.appendHead() }}}
</head>

<body>
    <!--vue-ssr-outlet-->
</body>

</html>